
/*-------------------------------*/
/*------------RESET--------------*/
/*-------------------------------*/
html, body{
    margin: 0px;
    font-size: 100%;
    font-family: 'Verdana';
    height: 100%;
    background-color: darkgrey;
    font-family: 'Arcade';
   
}


*, *::before,*::after{
    box-sizing: border-box;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


@font-face
{
    font-family: 'Arcade';
    src: url('../font/arcadeclassic.regular.ttf') format('truetype');
}

/*------------Menu--------------*/

header{
    width: 100%;
    height: 100px;
}

 h1{
    text-align: center;
    font-size: 6rem;
}




footer{
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 100;
}



#nav_menu {
    position:fixed;
    z-index:10;
    right:-30%;
    top:40px;
    background-color: rgb(255, 196, 0);
    border-radius: 30px;
    border : 10px ridge red;
    width:30%;
    font-size: 2rem;
    height: 80%;
    list-style-type: none;
    text-align:center;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

    #nav_menu{
        animation:.5s slideRight ease-in forwards;
        transition-delay:0;
        -webkit-animation:.5s slideRight ease-in forwards;
}
    #nav_menu.active {
        animation:1s slideLeft ease-out forwards;
        transition-delay:0;
        -webkit-animation:1s slideLeft ease-out forwards;
}
    
    /* Animations pour le menu slide */
    @keyframes slideRight {
        from {right:10%;}
        to {right:-30%;}
    }
    @-webkit-keyframes slideRight {
        from {right:10%;}
        to {right:-30%;}
    }

    @keyframes slideLeft {
        from {right:-30%;}
        to {right:10%;}
    }
    @-webkit-keyframes slideLeft {
        from {right:-30%;}
        to {right:10%;}
    }

fieldset{
    border:none;
    display: flex;
    height: 100%;
    flex-direction: column;

    justify-content: space-between;
    align-items :center;
}


#setting{
    width:250px;
    height:80px;
    background-color: rgb(255, 0, 0);
    font-size: 2.5rem;
    font-family: 'Arcade';
    color:white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;   
    margin: auto;
}

    #homepage {
        position:fixed; 
        z-index:5; 
        top:-100%; 
        left:0px; 
        background-color: darkgrey;
        width:100%;
        padding-top: 10rem;
        font-size: 8rem;
        height: 100%;
        list-style-type: none;
        text-align:center; 
        padding-inline-start: 0px;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    
        #homepage.active{
            animation:.5s  slideDown ease-in forwards;
            transition-delay:0;
            -webkit-animation:.5s  slideDown ease-in forwards;
}
        #homepage {
            animation:1s slideUp ease-out forwards;
            transition-delay:0;
            -webkit-animation:1s slideUp ease-out forwards;
}
        
        /* Animations pour le menu slide */
        @keyframes slideDown {
            from {top:0%;}
            to {top:-100%;}
        }
        @-webkit-keyframes slideDown {
            from {top:0%;}
            to {top:-100%;}
        }
    
        @keyframes slideUp {
            from {top:-100%;}
            to {top:0%;}
        }
        @-webkit-keyframes slideUp {
            from {top:-100%;}
            to {top:0%;}
        }













footer button{
    width:250px;
    height:80px;
    background-color: rgb(255, 0, 0);
    font-size: 2.5rem;
    font-family: 'Arcade';
    color:white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


/*------------Plateau--------------*/


main{
    display: flex;
    justify-content: center;
   
    
}

#life{
    position:fixed;
    left:5%;
    top:150px;
    width: 150px;
    font-size:1.8rem;
    font-weight: 10;
}
#enemy{
    position:fixed;
    left:5%;
    top:300px;
    width: 150px;
    font-size:1.8rem;
    font-weight: 10;
}


#score{
    position:fixed;
    right:5%;
    top:150px;
    width: 200px;
    font-size:1.8rem;
    font-weight: 10;
}


#timer{
    position:fixed;
    right:5%;
    top:300px;
    width: 150px;
    font-size:1.8rem;
    font-weight: 10;
}


.gameboard{

    height: 700px;
    width: 700px;
    background-color: rgb(66, 211, 86);
    border :20px rgba(58, 58, 58, 0.6);
    position: relative;
  
}


.player{
    height:20px;
    width: 20px;
    background-size: cover;
    position:absolute;
    top:200px;
    left:200px;
    border-radius: 50%;
    background-color: rgb(236, 222, 27);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.walkdown{
    
    animation-name: walkdown;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
 
@keyframes walkdown {
    0%   { background: url("../img/player1.png") no-repeat center ;}
    50%  { background: url("../img/player2.png") no-repeat center ;}
    100%  { background: url("../img/player3.png") no-repeat center ;}
    
}


.walkright{
    
    animation-name: walkright;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
 
@keyframes walkright {
    0%   { background: url("../img/player4.png") no-repeat center ;}
    50%  { background: url("../img/player5.png") no-repeat center ;}
    100%  { background: url("../img/player6.png") no-repeat center ;}
    
}



.walkup{
    
    animation-name: walkup;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
 
@keyframes walkup {
    0%   { background: url("../img/player7.png") no-repeat center ;}
    50%  { background: url("../img/player8.png") no-repeat center ;}
    100%  { background: url("../img/player9.png") no-repeat center ;}
    
}


.walkleft{
    
    animation-name: walkleft;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
 
@keyframes walkleft {
    0%   { background: url("../img/player10.png") no-repeat center ;}
    50%  { background: url("../img/player11.png") no-repeat center ;}
    100%  { background: url("../img/player12.png") no-repeat center ;}
    
}


.enemy{
    height:50px;
    width: 50px;
    background-color: rgb(27, 100, 236);
    position:absolute;
    top:0px;
    left:0px;
}


.bomb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: red;
    position: absolute;
    top:0px;
    left:0px;
    animation-name: exploded;
    animation-duration: 3s;
    animation-timing-function: linear;
    
    animation-iteration-count: initial;
    animation-direction: alternate;
    
}
  
  @keyframes exploded {
    0%   { background-color:rgb(255, 0, 0); transform:scale(1) ; -webkit-transform:scale(1) ; -moz-transform:scale(1) ; -ms-transform:scale(1) ; -o-transform:scale(1) ; }
    25%  { background-color:rgba(255, 187, 0, 0.5); transform:scale(2) ; -webkit-transform:scale(2) ; -moz-transform:scale(2) ; -ms-transform:scale(2) ; -o-transform:scale(2) ; }
    50%  {background-color:rgb(255, 0, 0); transform:scale(1) ; -webkit-transform:scale(1) ; -moz-transform:scale(1) ; -ms-transform:scale(1) ; -o-transform:scale(1) ; }
    75%  { background-color:rgba(255, 153, 0, 0.5); transform:scale(2) ; -webkit-transform:scale(2) ; -moz-transform:scale(2) ; -ms-transform:scale(2) ; -o-transform:scale(2) ; }
    90% { background-color:rgba(255, 0, 0, 0.8); transform:scale(2) ; -webkit-transform:scale(2) ; -moz-transform:scale(2) ; -ms-transform:scale(2) ; -o-transform:scale(2) ; }
    95% { background-color:rgba(0, 0, 0, 0.5); transform:scale(2) ; -webkit-transform:scale(2) ; -moz-transform:scale(2) ; -ms-transform:scale(2) ; -o-transform:scale(2) ; }
 
}




